{% extends 'base.html' %}

{% block content %}
<h1> Keiko at {{ keiko.time}} </h1>

<div>
    <p>Sensei: {{keiko.sensei.name}}</p>
    <p>Sensei Waza: {{keiko.sensei.waza.name}}</p>
    <hr>
    <p>Time: {{keiko.time}}</p>
    <p>Deshi: {{keiko.deshi.name}}</p>
    <p>Waza wanting to learn: {{keiko.deshi.waza.name}}</p>
    <p><a href="/keikos/{{keiko.id}}/edit"><button>Edit</button></a></p>
    <div class="buttons">
        <form class="delete-form" action="/keikos/{{keiko.id}}/delete" method="POST">
            <button>delete</button>
        </form>
    </div>
</div>
{% endblock %}