{% extends 'base.html' %}
{% block content %}
<h1>Deshi</h1>

<table>
    {% for deshi in all_deshis %}
    <tr>
    <div class="deshi">
        <div class="content">
            <a href="/deshis/{{deshi.id}}">{{deshi.name}}</a>
            <br>
            <a href="/deshi/{{deshi.id}}">{{deshi.waza.name}}</a>            
            <div class="buttons">
                <form class="delete-form" action="/deshis/{{deshi.id}}/delete" method="POST">
                    <button>delete</button>
                </form>
            </div>
        </div>
    </div>
    </tr>
    {% endfor %}
    <p><a href="/deshis/new">Add a new Deshi</a></p>

</table>

{% endblock %}