{% extends 'base.html' %}
{% block content %}
<h1>Waza</h1>

<table>
    {% for waza in all_wazas %}
    <tr>
    <div class="waza">
        <div class="content">
            <a href="/wazas/{{waza.id}}">{{waza.name}}</a>
            <div class="buttons">
                <form class="delete-form" action="/wazas/{{waza.id}}/delete" method="POST">
                    <button>delete</button>
                </form>
            </div>
        </div>
    </div>
    </tr>
    {% endfor %}

</table>

{% endblock %}