{% extends 'base.html' %}
{% block content %}
<h1>Sensei</h1>

<table>
    {% for sensei in all_senseis %}
    <tr>
    <div class="sensei">
        <div class="content">
            <a href="/senseis/{{sensei.id}}">{{sensei.name}}</a>
            <br>
            <a href="/senseis/{{sensei.id}}">{{sensei.waza.name}}</a>            
            <div class="buttons">
                <form class="delete-form" action="/senseis/{{sensei.id}}/delete" method="POST">
                    <button>delete</button>
                </form>
            </div>
        </div>
    </div>
    </tr>
    {% endfor %}
    <p><a href="/senseis/new">Add a new Sensei</a></p>

</table>

{% endblock %}