{% extends 'base.html' %}
{% block content %}
<h1>Sensei</h1>
<hr>
<table>
    {% for sensei in all_senseis %}
    <tr>
    <div class="sensei">
        <div class="content">
            <a href="/senseis/{{sensei.id}}">{{sensei.name}}</a>
            <br>
            <a href="/senseis/{{sensei.id}}">{{sensei.waza.name}}</a>    
            <hr>        
        </div>
    </div>
    </tr>
    {% endfor %}
    <p><a href="/senseis/new"><button> Add a new Sensei </button></a></p>

</table>

{% endblock %}